/* ======================
  GAME CONTAINER STYLES
====================== */

.game-container {
  background-image: url("../assets/background.png");
  background-position: bottom;
  object-fit: cover;
  width: 100%;
  height: 100%;
}