/* =======================
  GAME CONTAINER STYLES
======================= */
*{ 
  /* outline: 1px solid red; */
}
.game-wrapper {
  background-image: url("../assets/background.png");
  background-position: bottom;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 5px 15px;
}

/* ====================
  GAME HEADER STYLES
==================== */

.game-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

@media (max-width: 465px) {
  .game-header {
    gap: 4px;
  }
}

/* --- YUGI TALKING CONTAINER --- */

.yugi-talks {
  width: clamp(140px, 60vw, 310px);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.yugi-talks > img {
  width: clamp(42px, 30%, 70px);
}

.yugi-talks > div {
  display: inline-block;
  width: max(80px, 80%);
  border: 1px solid var(--primary1-color);
  border-radius: 3px;
  padding: 5px;
}

/* --- CONTROLS CONTAINER --- */

.controls {
  display: flex;
  flex-direction: column;
  width: max(155px, 30%);
  flex-shrink: 0;
  row-gap: 10px;
}

.controls__navigate {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.control-btn {
  background-color: rgba(98, 96, 96, 0.285);
  color: white;
  border: none;
  padding: 5px;
  font-size: 1rem;
  border-radius: 3px;
}

.control-btn:hover {
  background-color: rgba(197, 194, 194, 0.285);
}

.controls__sound {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.controls__sound > svg {
  width: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.137);
  padding: 3px;
  cursor: url('../assets/cursor-point.png'), pointer;
}

@media (max-width: 465px) {
  .controls {
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    width: max(170px, 70%);
  }

  .control-btn {
    background-color: rgba(98, 96, 96, 0.285);
    color: white;
    border: none;
    padding: 2px;
    font-size: 0.7rem;
    border-radius: 3px;
  }
  
}

/* --- SCORE CONTAINER --- */

.score {
  width: 200px;
  min-width: 120px;
  height: 67px;
  font-size: 0.9rem;
  border: 1px solid var(--primary1-color);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score__text {
  font-size: 1.3rem;
  color: var(--primary1-color);
}

.score__numbers {
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 15px;
}

.score__label {
  font-size: 1.1rem;
  color: var(--accent1-color);
}

@media (max-width: 465px) {
  .game-header {
    flex-direction: column;
    align-items: center;
  }

  .yugi-talks > img {
    width: 20%;
  }

  .yugi-talks > div {
    font-size: 0.6rem;
  }

  .score {
    height: 20px;
    width: max(180px, 80%);
    font-size: 0.6rem;
    flex-direction: row;
    padding: 0 10px;
  }

  .score__text {
    font-size: 0.9rem;
  }

  .score__numbers {
    justify-content: space-evenly;
  }

  .score__best,
  .score__current
  {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .score__label {
    font-size: 0.7rem;
  }

}

/* ==================
  GAME MAIN STYLES
================== */

.game-container {
  display: flex;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(10px, 3vw, 80px);
  /* outline: 1px solid red; */
  overflow-y: auto;
}

/* =============
  CARD STYLES
============= */

.card-container {
  perspective: 1000px;
  /* width: 200px; */
  width: clamp(80px, 35vw, 150px);
  aspect-ratio: 0.686;
  background-color: transparent;
  border: none;
  padding: 0;
  user-select: none;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.71s;
  transform-style: preserve-3d;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front {
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

/* ========================
  GAME END WINDOW STYLES
======================== */

.gameEndWindow-wrapper {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.269);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(200px, 80%, 500px);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.end-restart {
  background-color: transparent;
  color: var(--primary1-color);
  font-size: 1.4rem;
  padding: 7px;
  border: 1px solid var(--accent1-color);
  border-radius: 3px;
}

.end-restart:hover {
  background-color: rgba(145, 144, 144, 0.53);
}

.game-end-gif {
  width: 200px;
}