.container {
  background-image: url("../assets/background.png");
  height: 100vh;
  min-width: 980px;
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

/* ===========
 MENU STYLES
=========== */

.menu-window {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  /* pointer-events: none; */
  user-select: none;
  margin: 20px 0px;
}

.logo {
  height: 100px;
  margin-bottom: 10px;
}

.menu-img-wrapper {
  position: relative;
}

.menu-img {
  width: 100%;
}

.menu-buttons-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 0;
  color: var(--primary-color);
}

.menu-btn {
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 300px;
}

.menu-btn img {
  display: block;
  width: 100%;
  height: auto;
}

.menu-buttons-wrapper img:hover {
  filter: drop-shadow(0 0 2px var(--primary1-color));
}

.menu-buttons-wrapper img:active {
  filter: drop-shadow(0 0 3px var(--accent2-color));
}

.menu-btn__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--accent1-color);
  font-size: 1.5rem;
  z-index: 100;
  width: 180px;
  user-select: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1.25rem;
  pointer-events: none;
}

.level {
  pointer-events: all;
  width: 250px;
}

.level::before,
.level::after {
  opacity: 0;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.level::before {
  content: "◄";
  transform: translateX(-6px);
}

.level::after {
  content: "►";
  transform: translateX(6px);
}

.hitbox {
  position: absolute;
  outline: 1px solid red;
  width: 45px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.left-arrow {
  left: 10%;
}

.right-arrow {
  right: 12%;
}

.menu-btn:hover .level::before,
.menu-btn:hover .level::after {
  opacity: 1;
  transform: translateX(0);
}

.menu-btn__sub {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(238, 230, 179);
  z-index: 100;
  user-select: none;
  pointer-events: none;
}

.Entrance-message {
  position: absolute;
  top: 8px;
  left: -2px;
  color: var(--primary1-color);
  width: 180px;
  outline: 1px solid gold;
  border-radius: 3px;
  padding: 5px;
  font-size: 1.2rem;
  transform: translateY(0px);
  transition: transform 0.1s ease-in-out;
}

.Entrance-message:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.326);
}

/* =====================
 YUGI ANIMATION STYLES
===================== */


.yugi-container {
  width: 550px;
  height: 600px;
  position: relative;
  perspective: 1000px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yugi {
  height: 500px;
  z-index: 100;
  transform: translateY(0);
  transition: transform .2s ease-in-out;
}

.yugi:hover {
  transform: translateY(-3px);
  filter: drop-shadow(0 0 4px var(--primary1-color));
}

.ori {
  width: 400px;
  position: absolute;
  filter: drop-shadow( 0 0 15px var(--primary2-color));
  bottom: -90px;
  left: 50%;
  animation: spin 6s linear infinite;
  transition: filter 0.3s ease-in-out;
  z-index: -1;
}

.ori:hover {
  filter: drop-shadow( 0 0 20px var(--primary2-color));
}

@keyframes spin {
  from {
    transform: translateX(-50%) rotateX(75deg) rotateZ(0deg);
  }
  to {
    transform: translateX(-50%) rotateX(75deg) rotateZ(360deg);
  }
}