/* =============
  IMPORT FONTS
============= */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* ===========
  CSS RESET
=========== */

* {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow-x: hidden;
}

/* ==============
  CUSTOM STYLES
============== */

:root {
  --primary1-color: gold;
  --accent1-color: rgba(247, 229, 130, 0.76);
  --primary2-color: green;
  --accent2-color: rgba(130, 247, 134, 0.76)
}

body {
  cursor: url('./assets/cursor-norm.png') , auto;
  font-family: "Exo 2", sans-serif
}

a, button {
  cursor: url('./assets/cursor-point.png') ,pointer !important;
}

img {
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #3736367d;
}

::-webkit-scrollbar-thumb {
  background: var(--accent1-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* =====================
  PAGE CONTAINER STYLES
===================== */

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: white;
  background-color: black;
}

/* entering transition */
.fade-enter {
  opacity: 0;
  transform: translateX(100%) scale(0.4);
  z-index: 1;
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0) scale(1);
  transition: opacity 800ms ease, transform 800ms ease;
  z-index: 1;
}

/* exiting transition */
.fade-exit {
  opacity: 1;
  transform: translateX(0) scale(1);
  z-index: 2;
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%) scale(.4);
  transition: opacity 800ms ease, transform 800ms ease;
  z-index: 2;
}

/* --- MUSIC CONTROLS STYLES --- */
.music-muted {
  position: relative;
  display: inline-block;
}

.music-muted::after {
  content: '';
  position: absolute;
  left: -5%;
  top: 50%;
  height: 2px;
  width: 110%;
  border-radius: 1px;
  background-color: red;
  transform: rotate(-45deg);
  transform-origin: center;
  pointer-events: none;
}
